<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pranav - Portfolio</title>
  <link rel="icon" href="Images/InfinityX.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
  <link rel="stylesheet" href="CSS-JS/Home/style.css">

  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="pranavverma" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F"
    data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore-compat.js"></script>
</head>

<body class="bg-blue-gradient">

  <nav class="py-6 px-8 flex justify-between items-center" id="app">
    <a href="index.html" class="text-white text-2xl font-bold">InfinityX</a>

    <div class="fixed shadow top-7 right-6">
      <div v-if="isMobile">
        <svg @click="toggleMenu" xmlns="http://www.w3.org/2000/svg" class="text-white cursor-pointer icon icon-tabler icon-tabler-menu-2 rotate-icon"
          :class="{ active: menuOpen }" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 6l16 0"></path>
          <path d="M4 12l16 0"></path>
          <path d="M4 18l16 0"></path>
        </svg>
      </div>
    </div>


    <div class="fixed top-14 right-6 inline-block items-center space-x-4 md:block bg-white rounded-lg shadow-lg" v-if="menuOpen && isMobile">
      <ul class="md:block space-x-4 md:space-x-6 navbar md:items-center" style="padding-right: 3vw; padding-top: 3vw; padding-bottom: 3vw;">
        <li><a href="index.html" class="text-white navbar-item temp">Home</a></li>
        <li><a href="about.html" class="text-white navbar-item">About</a></li>
        <li><a href="projects.html" class="text-white navbar-item">Projects</a></li>
        <li><a href="blogs.html" class="text-white navbar-item">Blogs</a></li>
        <li><a href="https://portfolio.craftingrealm.tk/" class="text-white navbar-item">Portfolio</a></li>
        <li><a href="mcserver.html" class="text-white navbar-item">Server</a></li>
        <li><a href="contact.html" class="text-white navbar-item">Contact</a></li>
        <li>
          <div>
            <div class="relative" @click="toggleDropdown">
              <span class="navbar-item cursor-pointer">{{ signInText }}</span>
              <div v-if="showDropdown" class="absolute top-12 bg-white rounded-lg shadow-lg p-4" style="transform: translateX(-113px);">
                <div v-if="!user" class="p-4">
                  <form @submit.prevent="login" class="flex flex-col items-center">
                    <input type="email" v-model="email" class="border p-2 mb-2" placeholder="Email" required
                      @click.stop>
                    <input type="password" v-model="password" class="border p-2 mb-2" placeholder="Password" required
                      @click.stop>
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded" @click.stop>Login</button>
                  </form>
                </div>
                <div v-if="user" class="p-4">
                  <center>
                    <p class="text-black">Logged in as: <strong>{{ user.email }}</strong></p>
                    <button @click="signOut" class="bg-red-500 text-white px-4 py-2 mt-4 rounded" @click.stop>Sign
                      Out</button>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>




    <div class="flex items-center space-x-4 md:block" v-if="!isMobile">
      <ul class="md:flex space-x-4 md:space-x-6 navbar md:items-center">
        <li><a href="index.html" class="text-white navbar-item temp">Home</a></li>
        <li><a href="about.html" class="text-white navbar-item">About</a></li>
        <li><a href="projects.html" class="text-white navbar-item">Projects</a></li>
        <li><a href="blogs.html" class="text-white navbar-item">Blogs</a></li>
        <li><a href="https://portfolio.craftingrealm.tk/" class="text-white navbar-item">Portfolio</a></li>
        <li><a href="mcserver.html" class="text-white navbar-item">Server</a></li>
        <li><a href="contact.html" class="text-white navbar-item">Contact</a></li>
        <li>
          <div>
            <div class="relative" @click="toggleDropdown">
              <span class="navbar-item cursor-pointer">{{ signInText }}</span>
              <div v-if="showDropdown" class="absolute top-10 right-0 bg-white rounded-lg shadow-lg p-4">
                <div v-if="!user" class="p-4">
                  <form @submit.prevent="login" class="flex flex-col items-center">
                    <input type="email" v-model="email" class="border p-2 mb-2" placeholder="Email" required
                      @click.stop>
                    <input type="password" v-model="password" class="border p-2 mb-2" placeholder="Password" required
                      @click.stop>
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded" @click.stop>Login</button>
                  </form>
                </div>
                <div v-if="user" class="p-4">
                  <center>
                    <p class="text-black">Logged in as: <strong>{{ user.email }}</strong></p>
                    <button @click="signOut" class="bg-red-500 text-white px-4 py-2 mt-4 rounded" @click.stop>Sign
                      Out</button>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </nav>

  <script src="https://unpkg.com/v-click-outside@3.0.1"></script>


  <header class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1 class="font-bold text-white mb-4 drop-in-2" style="font-size: 5vw;">Hi, I am Pranav.</h1>
      <br>
      <div class="image-container drop-in-2">
        <center><img
            src="https://static.wixstatic.com/media/22e55c_7fa29b2d96664c8bb14af89f8b775807~mv2.jpg/v1/fill/w_600,h_338,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo-1553406830-ef2513450d76_jfif.jpg"
            style="width: 30vw; height: auto;"></center>
      </div>
    </div>
  </header>



  <main class="py-16 px-8">

    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold text-white mb-8">About Me</h2>

      <p class="text-white leading-loose">
        I am a Student and I am currently working on software more than hardware. I am interested and have experience in
        full stack development, arduino, and Server management. I hope to learn more coding and get better at the ones I
        already know. My ultimate aim is to leave the world better than I started with it. I want to learn ML and AI and
        OpenCV when I (hopefully) get time. I have Interests in System's Enginnering (C, C++), AI and ML (Python), and
        Web Development (HTML, TAILWINDCSS, VUE).
      </p>
    </div>
  </main>


  <footer class="py-6 px-8 bg-blue-900 text-white text-center">
    &copy; 2023 InfinityX. All rights reserved.
  </footer>


  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyCA_BPpKq3IhLupHnGYbbwq0U1mLdMbJXY",
      authDomain: "contactusform-f0ec2.firebaseapp.com",
      databaseURL: "https://contactusform-f0ec2-default-rtdb.firebaseio.com",
      projectId: "contactusform-f0ec2",
      storageBucket: "contactusform-f0ec2.appspot.com",
      messagingSenderId: "641931730164",
      appId: "1:641931730164:web:0812ee1bf4659f8381d2a1",
      measurementId: "G-1RVB7HZQWB"
    };

    firebase.initializeApp(firebaseConfig);

    const db = firebase.firestore();

    const app = Vue.createApp({
      data() {
        return {
          user: null,
          email: "",
          password: "",
          showDropdown: false,
          menuOpen: false,
          isMobile: false
        };
      },
      mounted() {

        firebase.auth().onAuthStateChanged(user => {
          this.user = user;
        });
        this.updateScreenSize();
        window.addEventListener('resize', this.updateScreenSize);
      },
      beforeUnmount() {
        window.removeEventListener('resize', this.updateScreenSize);
      },
      methods: {
        toggleDropdown() {
          this.showDropdown = !this.showDropdown;
        },
        closeDropdown() {
          this.showDropdown = false;
        },
        updateScreenSize() {
          // Get the current window width
          const windowWidth = window.innerWidth;
          // Update the 'screenSize' data property based on the window width
          if (windowWidth <= 800) {
            this.isMobile = true;
          } else {
            this.isMobile = false;
          }
        },
        login() {
          firebase.auth().signInWithEmailAndPassword(this.email, this.password)
            .then(userCredential => {
              this.user = userCredential.user;
              this.email = "";
              this.password = "";
            })
            .catch(error => {
              console.error(error);
              alert("Login failed. Please check your credentials.");
            });
        },
        toggleMenu() {
          this.menuOpen = !this.menuOpen;
        },
        signOut() {
          firebase.auth().signOut()
            .then(() => {
              this.user = null;
            })
            .catch(error => {
              console.error(error);
              alert("Sign out failed.");
            });
        }


      },
      computed: {
        signInText() {
          if (this.user) {
            if (window.innerWidth <= 800) {
              return 'Account';
            } else {
              return this.user.email;
            }
          } else {
            return 'Sign In';
          }
        }
      }
    });





    app.mount('#app');
  </script>
</body>

</html>